.container {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.wrapper {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    place-content: center;
    align-items: center;
    justify-content: center;

    padding: 0 14px;
    margin: 80px 0;

    position: relative;

}
.wrapper  h1 {
    font-size: 30px;
    line-height: 40px;
}
.wrapper h2 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 100;
}
.wrapper span {
    color: var(--primary);
    margin-left: 0.8rem;

}
.wrapper  p {
    font-size: 1em;
    margin: 1.5rem 0;
    font-weight: 300;
    padding-right: 4rem;
}

.content, .contentImage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content {
    justify-content: center;
    z-index: 2;
}
.contentImageWrapper {
    position: absolute;
    top: 4px;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    
     width: 100%;
     z-index: 1;
}
.content button {
    border-style: none;
    width: 200px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    border: 2px solid;
    border-color: var(--primary);
    background: none;
    color: var(--primary);
    /*mix-blend-mode: screen;
    */cursor: pointer;
    transform-origin: center;
    transition: transform 0.4s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}
.content button:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.content button:focus {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.arrowGuide {
   position: absolute;
   bottom: 100px;
}



@media only screen and (min-width: 769px) {
    .wrapper {
        padding: 0 32px;
        flex-direction: row;
    }
    .wrapper h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .wrapper h2 {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .wrapper p {
        margin: 4rem 0;
        font-size: 2rem;
        font-weight: 200;
        line-height: 2.8rem;
    }
    .content button {
        height: 78px;
        width: 300px;
        font-size: 1.2rem;
    }
    .arrowGuide {

        bottom: 100px;
        
     }
     
}