/*  Resolution: 320px - 768px */
.containerOn {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100px;
    width: 100%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;

}

.containerOff {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 70px;
    width: 100%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.wrapper {
    
    width: 100vw;
    height: 100%;
    background: var(--secondary);
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);

}
.wrapper::before{
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, #34F7BE 0%, #5A88FD 105.78%);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 4px;
    padding: 0 14px;
}

.logoContainer {
   display: flex;
   align-items: center;
   height: 100%;
  
}
.logo{
    display: flex;
    align-items: center;
}
.logoIcon, .menuIcon{
    height: 40px;
    cursor: pointer;
    margin-right: 4px;

}
.logoNameIcon {
    margin-left: 1px;
    cursor: pointer;
    display: none;
}



/*  Resolution: 769px - 1199px */
@media only screen and (min-width: 769px) {
 .logoNameIcon{
    display: inline-flex;
    

 }
 .navbar {
    padding: 0 22px;
 }
}
